<h1><%= @car.brand %></h1>
<h2><%= @car.model %></h2>
<h3><%= @car.year %></h3>
<p><%= @car.fuel %></p>
<hr>

<% if @car.favourites.empty? %>
<%= simple_form_for [@car, @favourite] do |f| %>
    <%= f.submit 'Add to my garage'%>
<% end %>
<% else %>
    <p>This car is parked in your garage!</p>
<% end %>
<hr>

<%= simple_form_for [@car, @review] do |f| %>
    <%= f.input :comment %>
    <%= f.input :rating, collection: 0..5 %>
    <%= f.submit %>
<% end %>
<hr>
<% @car.reviews.each do |review| %>
    <p>Comment: <%= review.comment %> | Rating:  <%= review.rating %></p>
<% end %>